# Ignore database files
*.sqlite3
*.db

# Ignore migrations folders
app/migrations/

# Ignore settings file
restrauntapp/settings.py

myapp/

staticfiles/

venv/
.env

__pycache__/
*.py[cod]
